@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.sidebar-hero {
    width: 45%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    background-image: url(images/background_img_side-bar.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    margin: auto 0;
    padding: 20px 0;

    font-family: 'Merienda', 'Times New Roman', Times, serif;
    font-size: 1.5rem;

    color: #FEFDFB;
    background: rgba(0,0,0,0.5);
}

.logo img {
    --logo-img-dim: 90px;
    display: inline-block;
    width: var(--logo-img-dim);
    height: var(--logo-img-dim);
}

.credits {
    font-family: monospace;
    font-size: 0.7rem;

    margin-top: 150px;
    padding-bottom: 10px;

    color: white;
}

.credits a {
    color: white;
}

main {
    width: 100%;
    height: 100%;
}

main > div {
    width: 100%;
}

main > div:nth-child(odd){
    height: 31%;
    background-color: #f9fafb;
}

main > div:nth-child(2) {
    height: 38%;
}

.intro {
    display:flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;

    padding: 0 30px;
    padding-top: 75px;

}

.user-info {
    padding: 0 30px;
    padding-top: 20px;
}

.user-info > p {
    padding-bottom: 15px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.form-row {
    display: flex;
    justify-content: flex-start;
    gap: 100px;
}

label,
input {
    display: block;
}

.sign-up-confirm {
    padding: 0 30px;
    padding-top: 35px;
}

.sign-up-confirm > button {
    margin-bottom: 15px;
}

.sign-up-confirm > p > a {
    text-decoration: none;
    color: black;
}