@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.sidebar-hero {
    width: 45%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    background-image: url(images/background_img_side-bar.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    margin: auto 0;
    padding: 20px 0;

    font-family: 'Merienda', 'Times New Roman', Times, serif;
    font-size: 1.5rem;

    color: #FEFDFB;
    background: rgba(0,0,0,0.5);
}

.logo img {
    --logo-img-dim: 90px;
    display: inline-block;
    width: var(--logo-img-dim);
    height: var(--logo-img-dim);
}

.credits {
    font-family: monospace;
    font-size: 0.7rem;

    margin-top: 150px;
    padding-bottom: 10px;

    color: white;
}

.credits a {
    color: white;
}

main {
    width: 100%;
    height: 100%;

    font-family: Arial, Helvetica, sans-serif;
    font-weight: 550;
    letter-spacing: 0.30px;
}

main > div {
    width: 100%;
}

main > div:nth-child(odd){
    height: 31%;
    background-color: #f9fafb;
}

main > div:nth-child(2) {
    position: relative;
    height: 38%;
    box-shadow: 0px 3px 5px #b9b9b9;
}

.intro {
    display:flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;

    padding: 0 30px;
    padding-top: 75px;

}

.intro p:first-of-type {
    line-height: 1.25rem;
}

.user-info {
    padding: 0 30px;
    padding-top: 20px;
}

.user-info > p {
    padding-bottom: 15px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.form-row {
    display: flex;
    justify-content: flex-start;
    gap: 80px;
}

label,
input {
    display: block;
}

label {
    font-size: 0.75rem;
    color: #777777;
    margin-bottom: 3px;
}

input {
    width: 200px;
    padding: 4px 8px;

    border-color: #E5E7EB;
    border-width: 0.75px;
    border-radius: 2px;

    background-color: #FEFDFB;

}

input:focus {
    outline: none !important;
    border-width: 1px;
    border-color: blue;
    box-shadow: 3px 3px 5px #cecece;
}

input:not(:placeholder-shown) {
    border-color: red;
}

input:valid {
    border-color: green;
}

.sign-up-confirm {
    padding: 0 30px;
    padding-top: 35px;
}

.sign-up-confirm > button {
    padding: 10px 40px;
    margin-bottom: 25px;

    border: none;
    border-radius: 10px;

    box-shadow: 0px 3px 3px #b9b9b9;

    font-size: 1rem;

    color: #FEFDFB;
    background-color: #596D48;

}

.sign-up-confirm > p {
    font-weight: 100;
    font-size: 0.75rem;
}

.sign-up-confirm > p > a {
    text-decoration: none;
    color: #596D48;
}